{% extends "blog/base.html" %}
{% block content %}

<h2>Project I</h2>
<div class="media-body">
	This program was made as the first project of the course series called Cyber Security Base 2019-2020. The task was to create a web application that has at least five different flaws from the OWASP top ten list. The code must be stored in a public repository so that other students may review it. A standard option is to use Github.
</div>
<br />
<h2>Links</h2>


 <a href="https://www.owasp.org/images/7/72/OWASP_Top_10-2017_%28en%29.pdf.pdf" target="_blank" rel="noopener noreferrer">https://www.owasp.org/images/7/72/OWASP_Top_10-2017_%28en%29.pdf.pdf</a>.


 <a href="https://github.com/cybersecuritybase/cybersecuritybase-project" target="_blank" rel="noopener noreferrer">https://github.com/cybersecuritybase/cybersecuritybase-project</a>.



{% endblock content %}



